.main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: grid;
  place-items: center end;
  width: var(--maxAppContainerWidth);
  border-bottom: 3px solid var(--lightColor);
  padding: 200px 0 40px;
}

.container h4 {
  font-family: var(--h4Font);
  font-size: var(--h4Size);
  color: var(--lightTextColor);
  text-shadow: var(--darkColor) 0 0 20px;
  padding-bottom: 20px;
}

.container h1 {
  font-family: var(--h1Font);
  font-size: var(--h1Size);
  color: var(--lightTextColor);
  text-align: end;
  text-shadow: var(--darkColor) 0 0 20px;
}

.container p {
  place-self: start;
  color: var(--lightTextColor);
  padding: 100px 0 30px;
  text-shadow: var(--darkColor) 0 0 20px;
}

.buttonsContainer {
  display: flex;
  place-self: start;
  gap: 5px;
}

.buttonsContainer button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  color: var(--lightTextColor);
  font-family: var(--buttonFont);
  font-size: 16px;
  border: 3px solid var(--lightColor);
  cursor: pointer;
  transition-duration: 0.2s;
}

.buttonsContainer button:hover {
  filter: brightness(150%);
}

.buttonsContainer button:active {
  transition-duration: 0.05s;
  filter: brightness(100%);
}

.buttonsContainer button:nth-child(1) {
  background-color: var(--darkColor);
}

.buttonsContainer button:nth-child(2) {
  background-color: var(--brandColor);
}