.container {
  display: grid;
  gap: 5px;

  h5 {
    background: url(/svg/envelope.svg) no-repeat left center;
    background-size: 11px;
    padding-left: 18px;

    b {
      font-family: var(--main-title-font);
      color: red;
      font-weight: 700;
    }
  }
}