.alert {
  display: grid;
  place-content: center center;
  width: clamp(50vw, 600px, 95vw);
  padding: 20px;
  transition: all 0.2s;
  position: fixed;
  top: 10px;
  left: 50%;
  translate: -50% -200%;
  overflow: hidden;
}

.alert p {
  font-size: 15px;
  text-align: center;
}

.visible {
  translate: -50% 0;
}