.alert {
  display: grid;
  place-content: center center;
  width: fit-content;
  border: var(--auth-input-border);
  padding: 15px;
  transition: all 0.2s;
  position: fixed;
  top: 10px;
  left: 50%;
  translate: -50% -200%;
}

.alert p {
  font-size: 14px;
  text-align: center;
}

.visible {
  translate: -50% 0;
}