.container {
  position: relative;
}

.validInput:focus {
  background-color: #00ff0020;
}

.invalidInput:focus {
  background-color: #ff8c8c;
}

.container button {
  width: 18px;
  aspect-ratio: 1 / 1;
  background: url(/svg/eye.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 9px);
  right: 12px;
  cursor: pointer;
}

.container .crossedButton {
  background: url(/svg/eye-crossed.svg) no-repeat center;
  background-size: contain;
}