.container {
  position: relative;
}

.validInput {
  background: linear-gradient(-40deg, #FFFFFF20, #FFFFFF40, transparent, #FFFFFF60, #FFFFFF20);
  background-color: #0f586e;
  border: 2px solid white;
}

.invalidInput {
  background: linear-gradient(-40deg, #FFFFFF20, #FFFFFF40, transparent, #FFFFFF60, #FFFFFF20);
  background-color: #e10b64;
  border: 2px solid white;
}

.container button {
  width: 16px;
  aspect-ratio: 1 / 1;
  background: url(/svg/eye.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  cursor: pointer;
}

.container .crossedButton {
  background: url(/svg/eye-crossed.svg) no-repeat center;
  background-size: contain;
}