.section {
  display: grid;
  place-items: center center;
  height: 100vh;

  form {
    display: grid;
    place-items: center center;
    gap: 20px;

    input {
      width: var(--auth-input-width);
      height: var(--auth-input-height);
      padding: var(--auth-input-padding);
      border: var(--auth-input-border);
    }

    button {
      width: var(--auth-input-width);
      height: var(--auth-input-height);
    }
  }
}