.section {
  display: grid;
  place-items: center center;
  height: 100vh;
  background: url(/webp/emitter-glass.webp) no-repeat center;
  background-size: cover;
}

.form {
  display: grid;
  gap: 3px;
  padding: 70px 80px;
}