@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Unbounded:wght@200..900&display=swap");

:root {

  --main-text-font: "Montserrat", Arial, Helvetica, sans-serif;
  --main-title-font: "Unbounded", "Montserrat", Arial, Helvetica, sans-serif;

  --brand-color: #FFC100;
  --dark-color: #222E3A;
  --light-color: #E8F0FC;
  --dark-shadow-color: #6F767D;
  --shadow-color: #9CA2A7;
  --light-shadow-color: #DADCDE;
  --extra-light-shadow-color: #EDEEEF;

  --auth-input-width: 300px;
  --auth-input-height: 40px;
  --auth-input-padding: 5px 10px;
  --auth-input-border: 2px solid var(--extra-light-shadow-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  border-radius: 5px;
  font-family: var(--main-text-font);
  font-weight: 500;
  color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: var(--main-title-font);
}