@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --main-text-font: "Montserrat", Arial, Helvetica, sans-serif;
  --main-title-font: "Unbounded", "Montserrat", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: var(--main-text-font);
  font-weight: 500;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.UICase {
  border: 1px solid #FFFFFFAA;
  border-radius: 15px;
  background: linear-gradient(-40deg, #FFFFFF20, #FFFFFF40, transparent, #FFFFFF60, #FFFFFF20);
  box-shadow: 2px 2px 2px -1px inset #FFFFFFCC, -2px -2px 2px -1px inset #FFFFFF60;
  backdrop-filter: blur(2px) saturate(180%) brightness(80%);
  filter: drop-shadow(5px 5px 7px #000000);
}

.UICaseButton {
  width: clamp(20vw, 300px, 90vw);
  height: 40px;
  border: 1px solid #FFFFFFAA;
  border-radius: 10px;
  background: linear-gradient(-40deg, #FFFFFF20, #FFFFFF40, transparent, #FFFFFF60, #FFFFFF20);
  box-shadow: 2px 2px 2px -1px inset #FFFFFFCC, -2px -2px 2px -1px inset #FFFFFF60;
  font-size: 15px;
  cursor: pointer;
}

.UICaseButton:hover {
  filter: drop-shadow(0 0 1px #00000080);
}

.UICaseButton:active {
  filter: none;
}

.UICaseInput {
  width: clamp(20vw, 300px, 90vw);
  height: 40px;
  border: 2px solid #FFFFFF80;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 15px;
}

.UICaseInput:focus {
  border: 2px solid #FFFFFF;
}

.UICaseInput::placeholder {
  color: #FFFFFF80;
}