@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --brand-color: #FFC100;
  --success-color: #127F5B;
  --info-color: #1A5289;
  --danger-color: #FF9900;
  --error-color: #E82828;
  --chatgptcolors: #22C55E #F97316 #EF4444 #3B82F6;
  --gray-100: #EEF1F3;
  --gray-200: #DCDFE2;
  --gray-300: #BBC0C4;
  --gray-400: #9FA4A9;
  --gray-500: #8D9499;
  --gray-600: #70767D;
  --gray-700: #646B72;
  --gray-800: #525963;
  --gray-900: #434D56;
  --gray-1000: #222E3A;
  --form-shadow: #434d5630 0px 5px 15px 0px, #222E3A30 0px 10px 35px -5px;
  --main-text-font: "Montserrat", Arial, Helvetica, sans-serif;
  --main-title-font: "Unbounded", "Montserrat", Arial, Helvetica, sans-serif;
  --auth-UI-element-width: clamp(20vw, 300px, 90vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: var(--main-text-font);
  font-weight: 500;
  color: var(--gray-1000);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 48px;
  font-family: var(--main-title-font);
  font-weight: 900;
}

h3 {
  font-size: 24px;
  font-family: var(--main-text-font);
  font-weight: 800;
}

h4 {
  font-size: 16px;
  font-family: var(--main-text-font);
  font-weight: 700;
}

p {
  font-size: 15px;
}

.authButton {
  width: var(--auth-UI-element-width);
  height: 40px;
  color: #FFFFFF;
  background: linear-gradient(var(--gray-800), var(--gray-1000));
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.authButton:hover {
  filter: brightness(110%);
}

.authButton:active {
  filter: none;
}

.authInput {
  width: clamp(20vw, 300px, 90vw);
  height: 40px;
  border: 2px solid var(--gray-200);
  padding: 0 10px;
  font-size: 15px;
}

.authInput:focus {
  border-color: var(--gray-500);
}

.authInput::placeholder {
  color: var(--gray-600);
}




.UICase {
  border: 1px solid #FFFFFFAA;
  border-radius: 15px;
  background-color: #FFFFFF;
  background: linear-gradient(-40deg, #FFFFFF20, #FFFFFF40, transparent, #FFFFFF60, #FFFFFF20);
  box-shadow: 2px 2px 2px -1px inset #FFFFFFCC, -2px -2px 2px -1px inset #FFFFFF60;
  backdrop-filter: blur(2px) saturate(180%) brightness(80%);
  filter: drop-shadow(5px 5px 7px #000000);
}