.section {
  display: grid;
  place-content: center center;
  gap: 3px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container {
  display: grid;
  gap: 3px;
  padding: 50px 80px;
}