.container {
  display: grid;
  gap: 5px;

  h5 {
    background: url(/svg/user.svg) no-repeat center;
    background-size: 12px;
    background-position: left center;
    font-family: var(--main-title-font);
    font-weight: 500;
    padding-left: 17px;

    b {
      font-family: var(--main-title-font);
      color: red;
      font-weight: 700;
    }
  }

  p {
    max-width: var(--auth-input-width);
    font-size: 12px;
    color: #666666;
  }
}